.nav-container{
   width:100%;
   height:99px;
   display:flex;
  justify-content: center;
   background-color: #1c1826;
}
.navbar{
    
    width:100%;
    height:99px;
    background-color: #1c1826;
    display: flex;
    justify-content:space-around;
    align-items: center;
    
}
.navbar .nav-logo{
      width:100px;
     height:90px;
     cursor:pointer;
}
.navbar .page-items ul {
    list-style:none;
    color:white;
    display: flex;
    gap:40px;
}
.navbar .page-items ul li{
    cursor:pointer;
}
.nav-icons-list{
    display: flex;
    gap:20px;
}
.nav-icons-list .nav-icon img{
 width:40px;
 aspect-ratio: 1/1;
}