.Brands-Container{
    width:1280px;
   display:flex;
   margin: 37px auto;
   flex-direction: column;
   
}
.Brand-Carousel,.Brand-Carousel img{
    width:100%;
    height:584px;
    position:relative;
}
.join-btn{
    height:48px;
    padding:9px 35px;
    border:0.5px  solid rgba(64, 1, 1, 1);
    font-family: 'Jost';
    font-size: 20px;
    font-weight: 500;
    line-height: 28.9px;
    color: rgba(64, 1, 1, 1);
    text-align: center;
    position: absolute;
    bottom:20px;
    left:45%;

    &:hover{
color: rgba(255, 238, 203, 1);
background-color: rgba(64, 1, 1, 1);;

    }

}

.brands-list{
    margin-top: 96px;
    width:100%;
}
.brands-list h3{
 font-family: 'Jost';
 font-size: 32px;
 font-weight: 700;
 line-height: 46.24px;
 color: rgba(213, 213, 213, 1);
 text-align: center;
}
.brands-list-items{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap:24px;
    row-gap: 50px;
}
.brands-list-items img{
    width:302px;
    height:144px;
}

