@media screen and (min-width:1100px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .footer-container{
        color:#d5d5d5;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(28, 24, 38, 1);
        width:100%;
        height:200px;
    }
    .footer-upper{
        display: flex;
        flex-direction: column;
        width:30%;
        align-items: center;
        margin:0px auto;
        width:100%;
        margin-top: 24px;
         
        gap:20px;
    }
    .footer-upper p{
        font-family: "Roboto";
        font-size: 32px;
        font-weight:700;
        line-height: 37.5px;
        
    }
    .footer-upper hr{
        width:307px;
        border:1px solid rgba(213, 213, 213, 1)
    }
    .footer-lower{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 60px;
        padding-right: 20px;
       
        margin-top: 60px;
    }
    .footer-lower .list ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .footer-lower .social-media-handles{
        display:flex;
        gap:50px;
    }
    .footer-lower .social-media-handles img{
       width:64px;
       height:64px;
    
    
    }
    
    
    
}

@media screen and (min-width:800px) and (max-width:1100px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .footer-container{
        color:#d5d5d5;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(28, 24, 38, 1);
        width:100%;
        height:200px;
    }
    .footer-upper{
        display: flex;
        flex-direction: column;
        width:30%;
        align-items: center;
        margin:0px auto;
        width:100%;
        margin-top: 24px;
         
        gap:20px;
    }
    .footer-upper p{
        font-family: "Roboto";
        font-size: 32px;
        font-weight:700;
        line-height: 37.5px;
        
    }
    .footer-upper hr{
        width:307px;
        border:1px solid rgba(213, 213, 213, 1)
    }
    .footer-lower{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 60px;
        padding-right: 20px;
       
        margin-top: 60px;
    }
    .footer-lower .list ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .footer-lower .social-media-handles{
        display:flex;
        gap:50px;
    }
    .footer-lower .social-media-handles img{
       width:64px;
       height:64px;
    
    
    }
    
    
    
}

@media screen and  (max-width:800px){
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    .footer-container{
        color:#d5d5d5;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(28, 24, 38, 1);
        width:100%;
        height:200px;
    }
    .footer-upper{
        display: flex;
        flex-direction: column;
       
        align-items: center;
        margin:0px auto;
        width:100%;
        margin-top: 24px;
         
        gap:20px;
    }
    .footer-upper p{
        font-family: "Roboto";
        font-size: 32px;
        font-weight:700;
        line-height: 37.5px;
        
    }
    .footer-upper hr{
        width:80%;
        border:1px solid rgba(213, 213, 213, 1)
    }
    .footer-lower{
        width:100%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 60px;
        padding-right: 20px;
       
        margin-top: 60px;
    }
    .footer-lower .list ul{
        list-style: none;
        display:flex;
        flex-direction:column;
        gap:10px;
    }
    .footer-lower .social-media-handles{
        display:flex;
        gap:50px;
    }
    .footer-lower .social-media-handles img{
       width:64px;
       height:64px;
    
    
    }
    
    
    
}