@media screen and (min-width:800px){
    .login-container{
        width:70vw;
        height:90vh;
        background-color:  rgba(16, 14, 22, 1);
        display:flex;
        flex-direction: column;
    }
    .login-container>.top-logo{
        width:100%;
        height:58px;
         &>img{
          margin-left: 80px;
          padding: 4px 0;
          width:50px;
          height:50px;
         }
    
    }
    .login-container>.main-part{
        width:100%;
        padding-left: 80px;
        display: flex;
        gap:0px;
        height:100%;
    }
    .login-container>.main-part>.main-part-right{
        width:60%;
        height:100%;
        display:flex;
        margin-left: 2%;
        margin-top: 5%;
        &>img{
            width:90%;
            height: 70%;
        }
    }
    .login-container>.main-part>.main-part-left{
        display:flex;
        flex-direction: column;
        width:40%;
        gap:3vw;
        
        &>h1{
            font-family: 'Jost';
            font-size: 5vw;
            font-weight: 500;
            line-height: 100%;
            text-align: left;
            color: rgba(255, 238, 203, 1);
            filter: drop-shadow(0px 4px 7px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.15));
        }
        &>div{
           
            &>.heading{
                font-family: Jost;font-size: 3vw;font-weight: 500;line-height: 30px;text-align: left;
                color: rgba(255, 238, 203, 1);
                filter:drop-shadow( 0px 4px 4px 0px rgba(0, 0, 0, 0.25));
            }
            &>.login{
                font-family: Jost;font-size: 1.4vw;font-weight: 700;line-height: 15px;text-align: left;
                color:rgba(255, 238, 203, 1);
            }
    
        }
        &>form{
            width:100%;
            display: flex;
            flex-direction: column;
            gap:30px;
           
            &>div{
                display:flex;
                flex-direction: column;
                gap:10px;
                &>label{
                    font-family: 'Jost';font-size: 2vw;font-weight: 500;line-height: 20px;text-align: left;
                    color:rgba(255, 238, 203, 1);
                }
                &>input{
                    width:100%;
                    font-family: 'Jost';font-size: 1vw;font-weight: 500;line-height: 20px;text-align: left;
                    height:30px;
                    border:none;
                    border-bottom: 2px solid rgba(255, 238, 203, 1) ;
                    outline:none;
                    background-color: transparent;
                    padding: 2px 2px;
                    color:rgba(255, 238, 203, 1);
                }
                &>img{
                    width:30px;
                    height:25px;
                }
            }
            &>button{
               
                
                margin:10px auto;
            outline:none;
            border: none;
                width: 10vw;height: 3vw;padding: 4px 8px;border-radius: 10px ;
                font-family: Jost;font-size: 2vw;font-weight: 500;line-height: 100%;text-align: center;
                
            }
        }
    }
    .password{
        position:relative;
        &>img{
            position:absolute;
            bottom:0px;
            right:0px;
        }
    }
} 

@media screen and (min-width:250px) and (max-width:800px){
    
    .login-container{
        width:70vw;
        height:max-content;
        background-color:  rgba(16, 14, 22, 1);
        display:flex;
        flex-direction: column;
    }
    .login-container>.top-logo{
        width:100%;
        height:58px;
         &>img{
          margin-left: 5vw;
          padding: 4px 0;
          width:50px;
          height:50px;
         }
    
    }
    .login-container>.main-part{
        width:100%;
        padding-left: 5vw;
        display: flex;
        gap:0px;
        height:100%;
    }
    .login-container>.main-part>.main-part-right{
        width:60%;
        height:100%;
        display:flex;
        margin-left: 2%;
        margin-top: 5%;
        &>img{
          display:none;
        }
    }
    .login-container>.main-part>.main-part-left{
        display:flex;
        flex-direction: column;
        width:70%;
        gap:3vw;
        
        &>h1{
            font-family: 'Jost';
            font-size: 8vw;
            font-weight: 500;
            line-height: 100%;
            text-align: left;
            color: rgba(255, 238, 203, 1);
            filter: drop-shadow(0px 4px 7px 0px rgba(0, 0, 0, 0.1), 0px 2px 4px 0px rgba(0, 0, 0, 0.15));
        }
        &>div{
           
            &>.heading{
                font-family: Jost;font-size: 4vw;font-weight: 500;line-height: 30px;text-align: left;
                color: rgba(255, 238, 203, 1);
                filter:drop-shadow( 0px 4px 4px 0px rgba(0, 0, 0, 0.25));
            }
            &>.login{
                font-family: Jost;font-size: 3vw;font-weight: 500;line-height: 100%;text-align: left;
                color:rgba(255, 238, 203, 1);
            }
    
        }
        &>form{
            width:100%;
            display: flex;
            flex-direction: column;
            gap:5vw;
           
            &>div{
                display:flex;
                flex-direction: column;
                gap:2vw;
                &>label{
                    font-family: 'Jost';font-size: 4vw;font-weight: 500;line-height: 20px;text-align: left;
                    color:rgba(255, 238, 203, 1);
                }
                &>input{
                    width:100%;
                    font-family: 'Jost';font-size: 3vw;font-weight: 500;line-height: 20px;text-align: left;
                    height:4vw;
                    border:none;
                    border-bottom: 2px solid rgba(255, 238, 203, 1) ;
                    outline:none;
                    background-color: transparent;
                    padding: 2px 2px;
                    color:rgba(255, 238, 203, 1);
                }
                
            }
            &>button{
               
                
                margin:10px auto;
            outline:none;
            border: none;
                width: 17vw;height: 5vw;padding: 4px 8px;border-radius: 10px ;
                font-family: Jost;font-size: 3vw;font-weight: 500;line-height: 100%;text-align: center;
                
            }
        }
    }
    .password{
        position:relative;
        &>img{
            position:absolute;
            bottom:0px;
            left:34vw;
            width:5vw;
            height:4vw;
        }
    }

}